<footer class="footer">
  <div class="wrap">
    <p class="muted">Web API: <strong><%= apiName %></strong> • npm package: <strong><%= pkgName %></strong></p>
    <p class="muted">CSUMB HW3 Alberto <%= new Date().getFullYear() %></p>
  </div>
</footer>
