<header class="header">
  <div class="wrap">
    <a href="/" class="brand">Pokemon With FPokeAPI!</a>
    <nav>
      <ul class="nav">
        <% nav.forEach(item => { %>
          <li><a href="<%= item.href %>" class="<%= (item.href === request.originalUrl) ? 'active' : '' %>"><%= item.label %></a></li>
        <% }) %>
      </ul>
    </nav>
  </div>
</header>
