<%- include('partials/head', { title }); %>
  <section class="section">
    <h1>Pokemon With Farker!</h1>
    <p>We use Faker to look at pokemon names and locations!</p>
    <div class="cards">
      <a class="card" href="/names">Browse Names</a>
      <a class="card" href="/locations">Explore Locations</a>
    </div>
  </section>
<%- include('partials/tail'); %>
